body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

input, button {
    padding: 8px;
    width: 250px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
}

